.slides h3 {
    margin-bottom: 50px;
}

.figures-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

figure {
    width: 300px;
}

figure a {
    display: block;
    text-align: center;
}

.figures-container figure img {
    width: 100%;
    margin: 0;
    border: 1px solid saddlebrown;
}

#source-code-editors h3 {
    margin: 20px;
}

#source-code-editors figcaption {
    margin: 20px;
}

#node-and-npm .figures-container figure img {
    border: none;
    box-shadow: none;
}
#node-and-npm .image-wrap {
    height: 200px;
}
#node-and-npm .figures-container {
    margin-top: 50px;
}

#extensions figure p {
    font-size: 0.5em;
    width: 140%;
    position: relative;
    left: -20%;
}

#extensions .figures-container {
    margin-top: 50px;
}

#github .main-container {
    display: flex;
}
#github .main-container img {
    border: none;
    box-shadow: none;
    min-width: 50%;
}
#github .image-wrap {

}

#github .main-container ul {
    display: flex;
    padding: 50px 0 50px 0;
    font-size: .7em;
    flex-direction: column;
    justify-content: space-around;
}

#tools img {
    width: auto;
    height: 200px;
}

#resources-books img {
    width: auto;
    height: 200px;
}

#resources-books figcaption {
    font-size: 0.5em;
}

#caniuse .notes {
    font-size: 0.5em;
}
#podcasts li {
    margin: 30px;
    list-style: none;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

#restrictions p {
    font-weight: bold;
}
#restrictions ul li {
    list-style: none;
    font-size: 0.5em;
    margin: 20px 0 20px 0;
}

#restrictions ul {
    margin: 0 -10% 0 -10%;
    width: 120%;
}

#desktop-browsers-usages figure,
#mobile-browsers-usages figure,
#mobile-dynamics figure {
    width: 80%;
    height: auto;
    margin: auto;
}

#desktop-browsers-usages img,
#mobile-browsers-usages img,
#mobile-dynamics img {
    border: none;
}
#mobile-dynamics img {
    width: 100%;
}

#current-situation ul {
    list-style: none;
}